<% content_for :j do %>
<script type="text/javascript">
	$(document).ready(function(){
	    $('#out').addClass('active');
	});
</script>
<% end %>

<% if user_signed_in? %>
<% if current_user.admin? %>
	<%= link_to("New Outreach Event", new_outreach_path) %>
<% end %>
<% end %>


<% if @outreaches.count == 0 %>
  <p style = "text-align:center;">No outreach events now, come back later.</p>
<% else %>
  <% @outreaches.each do |n| %>
    <%=raw n.content %>
  <% end %>
<% end %>