<% content_for :j do %>
<script type="text/javascript">
	$(document).ready(function(){
	    $('#news').addClass('active');
	});
</script>
<% end %>

<% if user_signed_in? %>
<% if current_user.admin? %>
<div data-no-turbolink>
	<%= link_to("New News", new_news_path) %>
</div>
<% end %>
<% end %>


<% if @news.count == 0 %>
	<p style = "text-align:center;">No news now, come back later.</p>
<% else %>
	<% @news.each do |n| %>
		<h2><%= n.title %></h2>
		<div style = "margin-left: 50px;">
			<%=raw n.content %>
		</div>
	<% end %>
<% end %>