<% content_for :j do %>
<script type="text/javascript">
  $(document).ready(function(){
      $('#contact').addClass('active');
  });
</script>
<% end %>

<p>Email us: <a href="mailto:rrs@union.rpi.edu">rrs@union.rpi.edu</a></p>