<% content_for :j do %>
<script type="text/javascript">
	$(document).ready(function(){
	    $('#projects').addClass('active');
	});
</script>
<% end %>

<% if user_signed_in? %>
<% if current_user.admin? %>
<div data-no-turbolink>
	<%= link_to("New Project", new_project_path) %>
</div>
<% end %>
<% end %>

<% if @projects.count == 0 %>
  <p style = "text-align:center;">No projects now, come back later.</p>
<% else %>
  <% @projects.each do |n| %>
  	<h2><%= n.name %></h2>
    <div style = "margin-left: 50px;">
		<%=raw n.content %>
	</div>
  <% end %>
<% end %>