<% content_for :j do %>
<script type="text/javascript">
	$(document).ready(function(){
	    $('#media').addClass('active');
	});
</script>
<% end %>

<% if user_signed_in? %>
<% if current_user.admin? %>
<div data-no-turbolink>
	<%= link_to("New Media", new_medium_path) %>
</div>
<% end %>
<% end %>


<% if @media.count == 0 %>
  <p style = "text-align:center;">No media now, come back later.</p>
<% else %>
  <% @media.each do |n| %>
  <div>
    <%=raw n.content %>
  </div>
  <% end %>
<% end %>